body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
table {
	border: 1px solid silver;
	border-collapse: collapse;
}
table td,
table th {
	border: 1px solid silver;
}
table th {
	padding: 10px;
}
table td {
	padding: 5px;
}
table td:first-child {
	font-weight: bold;
	padding: 15px 5px 15px 5px;
}
table td.mark {
	text-align: center;
	font-size: 150%;
}
<<<<<<< HEAD
=======

.forkme {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}
>>>>>>> gh-pages
